#bar {
	position: fixed;
	left: 0;
	right: 0;
}
#content {
	padding: 100px 0 40px;
}
.cap-word {
	padding: 40px 0;
}
.cap-letter {
	box-sizing: border-box;
	max-width: 200px;
}

.cap-letter.letters-lvl-1 {
	padding: 0 30px;
}
.cap-letter.letters-lvl-2 {
	padding: 0 15px;
}
.cap-letter.letters-lvl-3 {
	padding: 0 9px;
}
.cap-letter.letters-lvl-4 {
	padding: 0 4px;
}
@media only screen and (max-width: 600px) {
	.cap-letter.letters-lvl-1 {
		padding: 0 8px;
	}
	.cap-letter.letters-lvl-2 {
		padding: 0 4px;
	}
	.cap-letter.letters-lvl-3 {
		padding: 0 2px;
	}
	.cap-letter.letters-lvl-4 {
		padding: 0 1px;
	}
}