#bar {
	position: fixed;
	left: 0;
	right: 0;
}
#content {
	padding: 100px 0 40px;
}
.cap-letter {
	padding: 0 30px;
	box-sizing: border-box;
	max-width: 200px;
}
@media only screen and (max-width: 500px) {
	.cap-letter {
		padding: 0 10px;
	}
}